In [2]:
import pandas as pd
import numbers
import copy
import collections
from collections import Counter
import string
import numpy as np
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

In [3]:
working_dir = "/Users/ptaufalele/Desktop/Ongoing-Analysis/scRNAseqAnalysis/THE_REAL_DEAL/Analysis/1.Data_Preprocessing/7.For_Seurat"

In [115]:
df = pd.read_csv (working_dir+'/s6_transpose.csv')

In [116]:
df.head(5)

,Unnamed: 0,bcCQVO,bcEPSH,bcETLS,bcEPGM,bcDVOW,bcHEEF,bcHQIQ,bcIDTX,bcDXJK,...,bcHRPN,bcHDTD,bcFDXP,bcFFQU,bcFKQF,bcHCRM,bcAOPI,bcENGI,bcHTUE,bcEECT
0,0610006L08Rik,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0610007P14Rik,1,3,0,0,2,3,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,0610009B22Rik,0,0,0,0,0,1,1,2,0,...,2,0,0,0,0,0,0,0,0,0
3,0610009E02Rik,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0610009L18Rik,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
df.rename(columns = {'Unnamed: 0':'transcript'}, inplace=True)
df.head(5)

,transcript,bcCQVO,bcEPSH,bcETLS,bcEPGM,bcDVOW,bcHEEF,bcHQIQ,bcIDTX,bcDXJK,...,bcHRPN,bcHDTD,bcFDXP,bcFFQU,bcFKQF,bcHCRM,bcAOPI,bcENGI,bcHTUE,bcEECT
0,0610006L08Rik,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0610007P14Rik,1,3,0,0,2,3,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,0610009B22Rik,0,0,0,0,0,1,1,2,0,...,2,0,0,0,0,0,0,0,0,0
3,0610009E02Rik,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0610009L18Rik,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Remove mitochondrial genes & human genes

In [118]:
mtm = pd.Series(df['transcript']).str.contains('mt-').values # startswith() is case sensitive
mth = pd.Series(df['transcript']).str.contains('MT-').values
human = pd.Series(df['transcript']).str.isupper()

In [119]:
len(human)

80009

In [120]:
human

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
79979    False
79980    False
79981    False
79982    False
79983    False
79984    False
79985    False
79986    False
79987    False
79988    False
79989    False
79990    False
79991    False
79992    False
79993    False
79994    False
79995    False
79996    False
79997    False
79998    False
79999    False
80000    False
80001    False
80002    False
80003    False
80004    False
80005    False
80006    False
80007    False
80008    False
Name: transcript, Length: 80009, dtype: bool

In [121]:
Counter(human)

Counter({False: 38254, True: 41755})

In [122]:
x = copy.deepcopy(df)

In [123]:
matches = [i for i in range(0,len(human)) if human[i] == True]

In [124]:
len(matches)

41755

In [125]:
x = x.drop(matches);

# Remove ribosomal genes

In [126]:
mRb = pd.Series(x['transcript']).str.contains('Rb').values
mRp = pd.Series(x['transcript']).str.contains('Rp').values
matches = [i for i in range(0,len(mRb)) if mRb[i] == True or mRp[i] == True or mtm[i] == True]
x = x.drop(matches);

In [127]:
len(x)

38016

In [128]:
x.rename(columns = {'transcript':''}, inplace=True)

In [129]:
x.head(2)

,,bcCQVO,bcEPSH,bcETLS,bcEPGM,bcDVOW,bcHEEF,bcHQIQ,bcIDTX,bcDXJK,...,bcHRPN,bcHDTD,bcFDXP,bcFFQU,bcFKQF,bcHCRM,bcAOPI,bcENGI,bcHTUE,bcEECT
0,0610006L08Rik,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0610007P14Rik,1,3,0,0,2,3,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [130]:
x.to_csv('s6_transpose_fr.csv', index=False);